*{
	padding:0;
	margin:0;
}
body,html{
	background:white;
	font-family:'Lucida Grande', Verdana, sans-serif;
}

#header{
	height:20px;
	background:#0070f0 url(bgrad.gif) repeat-x;
	border-top:1px solid #33bbff;
	border-bottom:1px solid #aaa;
	padding:4px 14px;
	color:#d4f2ff;
}
#main{
	position:fixed;
	top:30px;
	bottom:0;
	left:0;
	right:0;
	background:#f8f8f8;
	overflow:auto;
}
ul#console{
	list-style:none;
}
#console li{
	padding:8px;
	background:url(grad.gif) repeat-x;
	border-bottom:1px solid #e8e8e8;
	
}
#console li.error{
	background:red;
}

#console li.warn{
	background:yellow;
}

#console li.write .result:before{
	content:"=";
	padding-left:8px;
	padding-right:8px;
}
#console li.write .result.error{
	background:#FFF1B5 url(wgrad.png) repeat-x;
	border:1px solid #e8dba5;
	padding:4px;
	margin:4px;
}
#console li.write .result.error:before{
	content:"⇒";
}
#console li.user{
	-webkit-transition: opacity 0.3s linear;
	opacity:0.0;
}
.right{
	float:right;
}
#header .right{
	font-size:small;
	text-shadow:0px 1px 0px black;
}